html {
    --color-crust: #181926;
    --color-mantle: #1e2030;
    --color-base: #24273a;
    --color-grey-00: #2b2f45;
    --color-grey-05: #31354f;
    --color-grey-10: #373b58;
    --color-grey-15: #3d4262;
    --color-grey-20: #42486b;
    --color-grey-25: #484e74;
    --color-grey-30: #4e557e;
    --color-grey-35: #565d8a;
    --color-grey-40: #5e6697;
    --color-grey-45: #6870a1;
    --color-grey-50: #757ca9;
    --color-grey-55: #8188b1;
    --color-grey-60: #8e94b9;
    --color-grey-65: #9aa0c0;
    --color-grey-70: #a7abc8;
    --color-grey-75: #b3b7d0;
    --color-grey-80: #c0c3d8;
    --color-grey-85: #cdcfe0;
    --color-grey-90: #d9dbe8;
    --color-grey-95: #e6e7ef;
    --color-text: #f4f2fd;
    --color-pink: #ff33e5;
    --color-pink-bright: #ff52e9;
    --color-red: #ff4064;
    --color-red-bright: #ff5c7b;
    --color-orange: #ff8147;
    --color-orange-bright: #ff9161;
    --color-green: #50fa7b;
    --color-green-bright: #69ff94;
    --color-yellow: #fffb70;
    --color-yellow-bright: #fffc8f;
    --color-cyan: #00d0ff;
    --color-cyan-bright: #5cd0ff;
    --color-blue: #0077ff;
    --color-blue-bright: #297fff;
    --color-purple: #9252ff;
    --color-purple-bright: #9f66ff;
}