@import 'colors.css';

#status-bar {
    height: 35px;
    width: 100vw;
    background-color: var(--color-mantle);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#status-bar span {
    width: 60px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center;
}

#status-bar #collapse-button:hover,
#status-bar #maximize-button:hover {
    background-color: var(--color-grey-05);
}

#status-bar #close-button:hover {
    background-color: var(--color-red);
}

#status-bar #collapse-button {
    background-image: url('/img/status-bar/collapse.svg');
}

#status-bar #maximize-button {
    background-image: url('/img/status-bar/maximize.svg');
}

#status-bar #close-button {
    background-image: url('/img/status-bar/close.svg');
}